*
!_backup_addons_local
!_backup_addons_local/**
!*.yaml
!scenes
!custom_components
!custom_components/**
!packages
!packages/**
!python_scripts
!python_scripts/**
!zigbee2mqtt
!zigbee2mqtt/**
!.gitignore
secrets.yaml
known_devices.yaml
entity_registry.yaml
__pycache__
